body {
  background-color: #e5e5e5;
}

/* .logoName {
  color: #0275d8;
} */

/* Desktop Version */
@media screen and (min-width: 992px) {
  /* .logoName {
    padding-left: 5vw;
  }

  .navLink {
    padding-left: 65vw;
  } */
}
